<div class="map-filter">
    <form method="post" name="filter-on-off">
        <div class="form-check form-switch">
            <input class="form-check-input csp-check" type="checkbox" id="switchCSP" name="switchCSP" checked>
            <label class="form-check-label csp-label" for="switchCSP">Afficher les CSP</label>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input cis-check" type="checkbox" id="switchCIS" name="switchCIS" checked>
            <label class="form-check-label cis-label" for="switchCIS">Afficher les CIS</label>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input cpi-check" type="checkbox" id="switchCPI" name="switchCPI" checked>
            <label class="form-check-label cpi-label" for="switchCPI">Afficher les CPI</label>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input border-check" type="checkbox" id="switchCountyBorder" name="switchCountyBorder" checked>
            <label class="form-check-label border-label" for="switchCountyBorder">Afficher les bordures du Département</label>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input border-check" type="checkbox" id="switchBoroughBorder" name="switchBoroughBorder">
            <label class="form-check-label border-label" for="switchBoroughBorder">Afficher les bordures des Groupements</label>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input border-check" type="checkbox" id="switchCantonBorder" name="switchCantonBorder">
            <label class="form-check-label border-label" for="switchCantonBorder">Afficher les bordures des Cantons</label>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input border-check" type="checkbox" id="switchTownBorder" name="switchTownBorder">
            <label class="form-check-label border-label" for="switchTownBorder">Afficher les bordures des Villages</label>
        </div>
    </form>
</div>