<div class="stats-panel">
    <ul class="list-unstyled">
        <li><strong>Interventions en cours:</strong><em class="missions-count"> 0</em></li>
        <li><strong>Véhicules en intervention:</strong><em class="vehicles-missions"> 0</em></li>
        <li><strong>Appels Décrochés :</strong><em class="call-count"> 0</em></li>
    </ul>
</div>