html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

#map {
    position: fixed;
}

.content-container {
    position: absolute;
    top: 65%;
    width: 100%;
    max-height: 100%;
    min-height: 35%;
    z-index: 20000;
    background-color: white;
    padding: 0 0.5em 0.5em 0.5em;
    -webkit-box-shadow: 0px 2px 15px 5px #34495e;
    box-shadow: 0px 2px 15px 5px #34495e;
}

#missionManagerTab {
    padding-top: 0.5em;
}

.map-filter {
    position: fixed;
    top: 0.5em;
    right: 0.5em;
    width: 350px;
    max-height: 90%;
    z-index: 20000;
    background-color: white;
    color: #495057;
    padding: 0 0.5em 0 0.5em;
    border-radius: 5px;
    border: 1px solid #212529;
}

.time-panel {
    position: fixed;
    top: 12.5em;
    right: 0.5em;
    height: 60px;
    width: 350px;
    max-height: 90%;
    z-index: 20000;
    background-color: white;
    color: #495057;
    padding: 0 0.5em 0 0.5em;
    border-radius: 5px;
    border: 1px solid #212529;
    text-align: center;
}

.stats-panel {
    position: fixed;
    top: 16.8em;
    right: 0.5em;
    width: 350px;
    max-height: 90%;
    z-index: 20000;
    background-color: white;
    color: #495057;
    padding: 0 0.5em 0 0.5em;
    border-radius: 5px;
    border: 1px solid #212529;
}

.call-popup {
    position: fixed;
    top: 23em;
    right: 0.5em;
    width: 350px;
    max-height: 90%;
    z-index: 20000;
    background-color: #3c3c3c;
    color: white;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 5px;
    border: 1px solid #212529;
    text-align: center;
}

.dialog-popup {
    position: fixed;
    top: 0.5em;
    left: 0.5em;
    width: 370px;
    height: 60%;
    z-index: 20000;
    background-color: white;
    color: #495057;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 5px;
    border: 1px solid #212529;
    overflow: auto;
}

.dialog-header {
    text-align: center;
}

.dialog-footer {
    text-align: center;
}

.answerButton {
    display: inline-block !important;
}

#missionManager {
    width: 80%;
    margin-left: 10%;
    padding: 1em 1em 1em 1em;
}

.mission-lane {
    padding-bottom: 1em;
}

textarea[name=observations] {
    resize: none;
}

.transfert-grp {
    padding-bottom: 1.5em;
}

.me-msg {
    padding-top: 0.5em;
    display: flex;
}

.caller-msg {
    padding-top: 0.5em;
    display: flex;
}

.me {
    order: 1;
    width: 100%;
}

.me-time {
    float: left;
    padding: 0.3em 0 0 0;
    order: 2;
    width: 50%;
}

.me-p {
    background-color: #3498db;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    max-width: 250px;
    color: white;
    padding: 0.4em;
    margin-bottom: 0.5em;
    margin-left: 0.3em;
    float: right;
}

.caller {
    order: 1;
    width: 100%;
}

.caller-time {
    float: right;
    padding: 0.3em 0 0 0;
    order: 3;
    width: 50%;
}

.caller-p {
    background-color: #ecf0f1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    max-width: 250px;
    color: black;
    padding: 0.4em;
    margin-bottom: 0.5em;
    margin-left: 0.3em;
    float: left;
}

.dial-footer {
    position: -webkit-sticky;
    position: sticky;
    background-color: #bdc3c7;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
    width: 80%;
    margin-left: 10%;
    height: 4px;
    bottom: 0.12em;
}

.btn-msg-next {
    margin-top: 1em;
}

.origin-call {
    padding-top: 0.3em;
}

.right {
    float: right !important;
}