html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

#map {
    position: fixed;
}

.content-container {
    position: absolute;
    top: 65%;
    width: 100%;
    min-height: 35%;
    z-index: 20000;
    background-color: white;
    padding: 0 0.5em 0.5em 0.5em;
    -webkit-box-shadow: 0px 2px 15px 5px #34495e;
    box-shadow: 0px 2px 15px 5px #34495e;
}

#missionManagerTab {
    padding-top: 0.5em;
}

.map-filter {
    position: fixed;
    top: 0.5em;
    right: 0.5em;
    width: 350px;
    max-height: 90%;
    z-index: 20000;
    background-color: white;
    color: #495057;
    padding: 0 0.5em 0 0.5em;
    border-radius: 5px;
    border: 1px solid #212529;
}

.time-panel {
    position: fixed;
    top: 12.5em;
    right: 0.5em;
    height: 60px;
    width: 350px;
    max-height: 90%;
    z-index: 20000;
    background-color: white;
    color: #495057;
    padding: 0 0.5em 0 0.5em;
    border-radius: 5px;
    border: 1px solid #212529;
    text-align: center;
}

.stats-panel {
    position: fixed;
    top: 16.8em;
    right: 0.5em;
    width: 350px;
    max-height: 90%;
    z-index: 20000;
    background-color: white;
    color: #495057;
    padding: 0 0.5em 0 0.5em;
    border-radius: 5px;
    border: 1px solid #212529;
}

.call-popup {
    position: fixed;
    top: 23em;
    right: 0.5em;
    width: 350px;
    max-height: 90%;
    z-index: 20000;
    background-color: #3c3c3c;
    color: white;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 5px;
    border: 1px solid #212529;
    text-align: center;
}

.dialog-popup {
    position: fixed;
    top: 0.5em;
    left: 0.5em;
    width: 370px;
    height: 60%;
    z-index: 20000;
    background-color: white;
    color: #495057;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 5px;
    border: 1px solid #212529;
    overflow: auto;
}

.dialog-header {
    text-align: center;
}

.dialog-footer {
    text-align: center;
}

.answerButton {
    display: inline-block !important;
}

#missionManager {
    width: 80%;
    margin-left: 10%;
    padding: 1em 1em 1em 1em;
}

.mission-lane {
    padding-bottom: 1em;
}

textarea[name=observations] {
    resize: none;
}

.transfert-grp {
    padding-bottom: 1.5em;
}

.table-vehicle-scrollbar {
    position: relative;
    height: 400px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.create-alert {
    padding-top: 1.5em;
}

.me-msg {
    padding-top: 0.5em;
    display: flex;
}

.caller-msg {
    padding-top: 0.5em;
    display: flex;
}

.me {
    order: 1;
    width: 100%;
}

.me-time {
    float: left;
    padding: 0.3em 0 0 0;
    order: 2;
    width: 50%;
}

.me-p {
    background-color: #3498db;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    max-width: 250px;
    color: white;
    padding: 0.4em;
    margin-bottom: 0.5em;
    margin-left: 0.3em;
    float: right;
}

.caller {
    order: 1;
    width: 100%;
}

.caller-time {
    float: right;
    padding: 0.3em 0 0 0;
    order: 3;
    width: 50%;
}

.caller-p {
    background-color: #ecf0f1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    max-width: 250px;
    color: black;
    padding: 0.4em;
    margin-bottom: 0.5em;
    margin-left: 0.3em;
    float: left;
}

.dial-footer {
    position: -webkit-sticky;
    position: sticky;
    background-color: #bdc3c7;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
    width: 80%;
    margin-left: 10%;
    height: 4px;
    bottom: 0.12em;
}

.btn-msg-next {
    margin-top: 1em;
}

.origin-call {
    padding-top: 0.3em;
}

.right {
    float: right !important;
}

/*
    Vehicles BTN
 */

.btn-vehicle-station {
    margin: 10px 10px 10px 3px;
}

.btn-station-dispo {
    background-color: #1f356f !important;
    color: #fffbf0 !important;
    border-color: #b7babc !important;
}

.btn-station-indispo {
    background-color: #c1c1c1 !important;
    color: #000000 !important;
    border-color: #8d908e !important;
}

.btn-vehicle {
    margin: 3px;
}

.table-status-available {
}

.table-status-selected {
    background-color: #f1c40f !important;
    color: #000000 !important;
}

.table-status-unavailable {
    background-color: #7e7273 !important;
    color: #000000 !important;
}

/*TODO Séléctionné*/
.btn-status-0 {
    background-color: #f1c40f !important;
    color: #000000 !important;
    border-color: #8d908e !important;
}

/*Parti*/
.btn-status-1 {
    background-color: #ff0000 !important;
    color: #000000 !important;
    border-color: #8d908e !important;
}

/*Sur les Lieux*/
.btn-status-2 {
    background-color: #ff0000 !important;
    color: #fffbf0 !important;
    border-color: #8d908e !important;
}

/*TODO Message*/
.btn-status-3 {
    background-color: #7e7273 !important;
    color: #fffbf0 !important;
    border-color: #8d908e !important;
}

/*TODO Message Urgent*/
.btn-status-4 {
    background-color: #7e7273 !important;
    color: #fffbf0 !important;
    border-color: #8d908e !important;
}

/*Transport Hôpital*/
.btn-status-5 {
    background-color: #8080ff !important;
    color: #000000 !important;
    border-color: #8d908e !important;
}

/*Arrivée Hôpital*/
.btn-status-6 {
    background-color: #0000ff !important;
    color: #fffbf0 !important;
    border-color: #8d908e !important;
}

/*Disponible Radio*/
.btn-status-7 {
    background-color: #00ffff !important;
    color: #000000 !important;
    border-color: #8d908e !important;
}

/*Indisponible*/
.btn-status-8 {
    background-color: #7e7273 !important;
    color: #fffbf0 !important;
    border-color: #8d908e !important;
}

/*Disponible*/
.btn-status-9 {
    background-color: #00ff00 !important;
    color: #000000 !important;
    border-color: #8d908e !important;
}

/*TODO SMUR sur les Lieux*/
.btn-status-22 {
    background-color: #7e7273 !important;
    color: #fffbf0 !important;
    border-color: #8d908e !important;
}

/*TODO Police sur les Lieux*/
.btn-status-30 {
    background-color: #7e7273 !important;
    color: #fffbf0 !important;
    border-color: #8d908e !important;
}

/*TODO Gendarmerie sur les Lieux*/
.btn-status-31 {
    background-color: #7e7273 !important;
    color: #fffbf0 !important;
    border-color: #8d908e !important;
}

/*TODO ERDF sur les Lieux*/
.btn-status-32 {
    background-color: #7e7273 !important;
    color: #fffbf0 !important;
    border-color: #8d908e !important;
}

/*TODO GRDF sur les Lieux*/
.btn-status-33 {
    background-color: #7e7273 !important;
    color: #fffbf0 !important;
    border-color: #8d908e !important;
}

/*TODO DIR sur les Lieux*/
.btn-status-34 {
    background-color: #7e7273 !important;
    color: #fffbf0 !important;
    border-color: #8d908e !important;
}

/*TODO Conseil Général sur les Lieux*/
.btn-status-35 {
    background-color: #7e7273 !important;
    color: #fffbf0 !important;
    border-color: #8d908e !important;
}

/*TODO Police Municipale sur les Lieux*/
.btn-status-36 {
    background-color: #7e7273 !important;
    color: #fffbf0 !important;
    border-color: #8d908e !important;
}

/*TODO Brigades Vertes sur les Lieux*/
.btn-status-37 {
    background-color: #7e7273 !important;
    color: #fffbf0 !important;
    border-color: #8d908e !important;
}

/*TODO Maire sur les Lieux*/
.btn-status-38 {
    background-color: #7e7273 !important;
    color: #fffbf0 !important;
    border-color: #8d908e !important;
}

/*Disponible Hors Secteur*/
.btn-status-25 {
    background-color: #c66300 !important;
    color: #fffbf0 !important;
    border-color: #8d908e !important;
}

/*TODO Disponible sur les Lieux*/
.btn-status-44 {
    background-color: #7e7273 !important;
    color: #fffbf0 !important;
    border-color: #8d908e !important;
}

/*En alerte*/
.btn-status-101 {
    background-color: #800080 !important;
    color: #fffbf0 !important;
    border-color: #8d908e !important;
}

.list-vehicle-selected {
    margin-top: 3em;
}