<div class="call-popup">
    <ul class="list-unstyled">
        <li>Appel {{origin}} Entrant</li>
        <li><img src="/assets/avatar.png" class="rounded mx-auto d-block" alt="Avatar d'Appel"></li>
        <li>+33{{phoneNb}}</li>
    </ul>
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-6">
                <div class="accept-call">
                    <img src="/assets/answer.png" class="rounded float-start" alt="Accepter l'appel" onclick="answerEvent()">
                </div>
                <div class="decline-call">
                    <img src="/assets/decline.png" class="rounded float-end" alt="Refuser l'appel" onclick="declineEvent()">
                </div>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
</div>